

#my_btn{
    position: fixed;
    right: 10px;
    bottom:10px;
    background: #f71414;
    border: 2px solid #070707;
    border-radius:25%;
    font-size: 20px;
    padding: 6px 10px;
    z-index: 99;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-weight:bolder;
    behavior: "smooth";
}
